body {
  background-color: #363635;
}



input {
  caret-color: white  ; /* Задаем цвет курсора */
}
/* label */

.label {
  left: 13px;
  position: relative;
  font-size:15px;
  color: #ffffff; 
}

::placeholder{
  color: #ffffff;
}

/* CheckBox */

.checList {
  transform: scale(1.5);
  right: auto;
  margin-left: 20px;
}

.checList1 {
  position: absolute;
  bottom: 510px;
  right: 350px;
  transform: scale(1.5);
}
.checList2 {
  position: absolute;
  right: 350px;
  bottom: 480px;
  transform: scale(1.5);
}

.checList3 {
  position: relative;
  top: 10px;
  transform: scale(1.5);
  right: auto;
  margin-left: 20px;
}

.checList4 {
  left: -28px;
  position: relative;
  top: 20px;
  transform: scale(1.5);
  right: auto;
  margin-left: 20px;
}
.checList5 {
  left: -180px;
  position: relative;
  top: 40px;
  transform: scale(1.5);
  right: auto;
  margin-left: 30px;
}
.span5 {
   position: relative;
   color: #ffffff;
   top: 40px;
   left: -180px;
}

/* Box */

.box {
    background-color: rgb(39, 39, 39);
    margin-right: auto;
    width: 350px;
    color: #f3f3f3;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    display: block;
    margin: 10px;
    border-radius: 5%;
}


.box1 {
    background-color: rgb(39, 39, 39);
    color: #f3f3f3;
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    display: block;
    margin: 10px;
    border-radius: 5%;
}

.box2 {
  background-color: rgb(39, 39, 39);
  color: #f3f3f3;
  margin-right: auto;
  width: 350px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  display: block;
  margin: 10px;
  border-radius: 5%;
  margin-top: 50px;
}

/* drugoe */

.drugoe {
    border: none;
    border-bottom: 1px solid #555555;
    background-color: #535252;
    color: #000;
    outline: none;
}

/* forms */

.form {
  position: absolute;
  margin-right: 20px;
  width: 350px;
  height: 950px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0, 0, 0);
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: rgb(155, 155, 155);
}

.form1 {
  position: absolute;
  bottom: 420px;
  left: 670px;
  width: 350px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0, 0, 0);
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: rgb(155, 155, 155);
}
.form2 {
  bottom: 0px;
  position: absolute;
  left: 1430px;
  width: 350px;
  height: 950px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0, 0, 0);
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: rgb(155, 155, 155);
}

/* button*/

.form_button {
  width: 150px;
  height: 30px;
  display: block;
  border-radius: 5%;
  color: #fff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 220%;
  top: 950px;
  transform: translate(-50%, 0);
}

.form_button:focus,
.form_button:hover {
  background-color: #2b3634;
}

/* select */


select {
  position: relative;
  color: #f3f3f3;
  bottom: 300px;
  left: 420px;
  width: 1000px;
  height: 35px;
  padding: 4px;
  border-radius:4px;
  box-shadow: 2px 2px 8px rgb(112, 112, 112);
  background: rgb(150, 150, 150);
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  }
  .select1 {
    position: relative;
    color: #f3f3f3;
    bottom: 300px;
    left: 390px;
    width: 1000px;
    height: 35px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px rgb(112, 112, 112);
    background: rgb(150, 150, 150);
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    }
    .select5 {
      position: relative;
      color: #f3f3f3;
      bottom: 300px;
      left: 390px;
      width: 1000px;
      height: 35px;
      padding: 4px;
      border-radius:4px;
      box-shadow: 2px 2px 8px rgb(112, 112, 112);
      background: rgb(150, 150, 150);
      border: none;
      outline: none;
      display: inline-block;
      cursor: pointer;
      }
      .select6 {
        position: relative;
        bottom: 300px;
        color: #f3f3f3;
        left: 390px;
        width: 1000px;
        height: 35px;
        padding: 4px;
        border-radius:4px;
        box-shadow: 2px 2px 8px rgb(112, 112, 112);
        background: rgb(150, 150, 150);
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
        }

  .select2 {
    position: relative;
    color: #f3f3f3;
    top: -2px;
    left: 10px;
    width: 300px;
    height: 35px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px rgb(112, 112, 112);
    background: rgb(150, 150, 150) ;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    }
    .select7 {
      position: relative;
      top: 15px;
      color: #f3f3f3;
      left: -9px;
      width: 300px;
      height: 35px;
      padding: 4px;
      border-radius:4px;
      box-shadow: 2px 2px 8px rgb(112, 112, 112);
      background: rgb(150, 150, 150) ;
      border: none;
      outline: none;
      display: inline-block;
      cursor: pointer;
      }
      .select8 {
        position: relative;
        top: 35px;
        left: -9px;
        color: #f3f3f3;
        width: 300px;
        height: 35px;
        padding: 4px;
        border-radius:4px;
        box-shadow: 2px 2px 8px rgb(112, 112, 112);
        background: rgb(150, 150, 150) ;
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
        }
        .select9 {
          position: relative;
          top: 55px;
          color: #f3f3f3;
          left: -9px;
          width: 300px;
          height: 35px;
          padding: 4px;
          border-radius:4px;
          box-shadow: 2px 2px 8px rgb(112, 112, 112);
          background: rgb(150, 150, 150) ;
          border: none;
          outline: none;
          display: inline-block;
          cursor: pointer;
          }

  .select3 {
    position: relative;
    top: 30px;
    color: #f3f3f3;
    right: 0px;
    color: #ffffff;
  }
  .select4 {
    position: relative;
    top: 60px;
    color: #ffffff;
    right: 0px;
  }
  
  option {
    color: #000000;
    outline: none;
    color: #ffffff;
    border: none;
  }
  option:disabled{
    display: none;
    color: #ffffff;
  }
  
  /* span */

.span {
  position: relative;
  top: 10px;
  left: 45px;
  color: #ffffff;
}
.sp{
  color: #ffffff;
}
.span1 {
  position: relative;
  color: #ffffff;
  top: 25px;
  left: 45px;
}

.span2 {
  position: relative;
  color: #ffffff;
}

.span3 {
  position: relative;
  color: #ffffff;
  top: 10px;
}

.span4 {
  left: -15px;
  color: #ffffff;
  position: relative;
  top: 10px;
}

  